.headerNewCase {
    color: #1b7a9f;
    font-size: 32px;
    text-align: left;
    font-weight: bold
}

.textNewCase {
    color: #088f6d;
    font-size: 64px;
    text-align: right;
    font-weight: bold;
}

.cardNewCase {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
}


/* On mouse-over, add a deeper shadow */

.cardNewCase:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


/* ---------------------------------------------------------*/

.headerDeathCase {
    color: #1b7a9f;
    font-size: 32px;
    text-align: center;
    font-weight: bold
}

.textDeathCase {
    color: #ee4747;
    font-size: 40px;
    text-align: center;
}

.cardDeathCase {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
}


/* On mouse-over, add a deeper shadow */

.cardDeathCase:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


/* ---------------------------------------------------------*/

.headerRecovered {
    color: #1b7a9f;
    font-size: 32px;
    text-align: center;
    font-weight: bold
}

.textRecovered {
    color: #0a8f5c;
    font-size: 40px;
    text-align: center;
}

.cardRecovered {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
}


/* On mouse-over, add a deeper shadow */

.cardRecovered:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


/* ---------------------------------------------------------*/

.textTotal {
    color: #088f6d;
    font-size: 24px;
    text-align: left;
    font-weight: bold;
}