

@media all and (max-width:30em) {
    .textCom{
        font-size: 16px;
    }
    
}


/* ---------------------------------------------------------*/

@media screen and (max-width: 870px) {
    .textNewCase {
        font-size: 52px;
    }
}

.textVs{
    font-size: 50px;
}

.fontT{
    font-size: 24px;
    font-weight: 500;
}
.fontN{
    font-size: 24px;
    font-weight: 700;
}
@media screen and (max-width: 670px) {
    .fontT{
        font-size: 12px;
        font-weight: 500;
    }
    .fontN{
        font-size: 16px;
        font-weight: 700;
    }
  }
  
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    
  }

  @media all and (max-width:30em) {
    .textCom{
        font-size: 16px;
    }
    
}


/* ---------------------------------------------------------*/

@media screen and (max-width: 870px) {
    .textNewCase {
        font-size: 52px;
    }
}

.textVs{
    font-size: 50px;
}

.fontT{
    font-size: 1.5vw;
    font-weight: 500;
}
.fontN{
    font-size: 1.5vw;
    font-weight: 700;
}
@media screen and (max-width: 670px) {
    .fontT{
        font-size: 12px;
        font-weight: 500;
    }
    .fontN{
        font-size: 16px;
        font-weight: 700;
    }
  }
  
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    
  }