.fontCase{
    font-size: 150%;
}

.fontInt{
    font-size: 300%;
    text-align: center;
}

.sizeIcon{
    font-size: 500%;
}
.sizeGraph{
    width:100%;
    max-width:600px;
}

.sizeGraphLine{
    
    width:100%;
    max-width:600px;
    
}

